<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
      <%= form.label :"Прокоментировал" %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :"Комментарий" %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit("Создать Комментарий", class: "btn btn-danger")%>
    </p>
  <% end %>