<h2><%= @article.title %></h2>

<p><%= @article.body %></p>

<h4><%= "Автор статьи" %></h4>
<p><%= @article.user.email %></p>

<ul>
<% if @article.user == current_user%>
  <li><%= link_to "Редактировать", edit_article_path(@article) %></li>
  <li><%= button_to "Удалить", article_path(@article), method: :delete, data: {
                  confirm: "Are you sure?" 
                  } %></li>
                  <% end %>
</ul>

<h2>Комментарии</h2>
<%= render @article.comments %>

<h2>Добавить комментарий:</h2>
<%= render 'comments/form' %>